@{
    Layout = "~/Views/Shared/_Vista_Layout.cshtml";
}

<style type="text/css">
     #rightbox{
	float: right;
	width: 660px;
	margin-top: 10px;
	margin-right: 20px;
}
 
    #dr1 {
        float: left;
        width: 45%;
    }

    #dr2 {
        float: right;
        width: 45%;
    }
</style>

<div id="rightbox">
    <br />

    <div id="newsbox2">
        <span class="normalshadow">@Resources.Resource.PCPHOME_1</span><br /><br />
        <p>
            <strong>@Resources.Resource.PCPHOME_2</strong><br />
            <br />
        </p>
        <p><strong style="color: #9B2346">@Html.Raw(@Resources.Resource.PCPHOME_3)</strong> </p>
        <ol style="padding-left:40px">
            <li><strong>@Resources.Resource.PCPHOME_4</strong>  </li>
            <li>
                <strong>@Resources.Resource.PCPHOME_5</strong><br />
                <br />
            </li>
        </ol>
        <strong>@Html.Raw(@Resources.Resource.PCPHOME_6)</strong>
    </div><!--end of newsbox2-->


    <br /><br />
    <span style="font-size:28px; color:#9B2346; font-weight:700;">@Resources.Resource.PCPHOME_7</span><br /><br />
    <p>
        @Resources.Resource.PCPHOME_8,<br />
        <br />
        @Resources.Resource.PCPHOME_9<br />
        <br />
        @Resources.Resource.PCPHOME_10<br />
        <br />
    </p>
    <p><strong style="color: #9B2346">@Resources.Resource.PCPHOME_11</strong></p>
    <ul style="padding-left:20px">
        <li>@Html.Raw(@Resources.Resource.PCPHOME_12)</li>
    </ul>
    <ul style="padding-left:20px">
        <li>@Html.Raw(@Resources.Resource.PCPHOME_13)</li>
    </ul>
    <ul style="padding-left:20px">
        <li> @Html.Raw(@Resources.Resource.PCPHOME_14)</li>
    </ul>
    <p>&nbsp;</p>
    <p>
        @Html.Raw(@Resources.Resource.PCPHOME_15)&nbsp;<br />
        <br />
        @Html.Raw(@Resources.Resource.PCPHOME_16)&nbsp;<br />
        <br />
        @Html.Raw(@Resources.Resource.PCPHOME_17)&nbsp; <br />
        <br />
        @Html.Raw(@Resources.Resource.PCPHOME_18)&nbsp; <br />
        <br />
    </p>
    <p>
        @Html.Raw(@Resources.Resource.PCPHOME_19)<br />
        <br />
        @Html.Raw(@Resources.Resource.PCPHOME_20)<br />
        <br />
        @Html.Raw(@Resources.Resource.PCPHOME_21),
    </p>
    <p>&nbsp;</p>
    <div id="dr1">
        @Html.Raw(@Resources.Resource.PCPHOME_24)

    </div>
    <div id="dr2">
        @Html.Raw(@Resources.Resource.PCPHOME_25)
    </div>
    <p>&nbsp;</p>
 
</div>
 <div style="clear:both"></div>
<br /><br /><br /><br />

