
<style>
    .noLink {
        text-decoration: none;
    }
</style>
<table width="40%" border="0" style="float:right" cellspacing="0">
    <tr>
        <td align="right">

            <div style="background-image:url(@Resources.Resource.BTN_REG_URL); background-repeat:no-repeat; width:405px; height:125px; padding-top:60px; text-align:center">

                <table width="80%" border="0" cellpadding="3" style="margin-left:auto; margin-right:auto;">
                    <tr>
                        <td colspan="2">
                            <div class="regid">
                                <input placeholder="@Resources.Resource.Unique_Reg_ID" type="text" id="txtRegCode" name="txtRegCode">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="grow">
                                <a id="hlSubmit" href='#'><img src="@Resources.Resource.REGISTERNOW_IMG_URL" border="0" /></a>
                            </div>
                        </td>
                        <td>
                             
                            <div class="grow">
                                <a id="hlNotInterested" href='#'  ><img src="@Resources.Resource.NOTINTERESTED_IMG_URL" border="0" /></a>
                            </div>
                        </td>
                    </tr>
                </table>

                <div class="greycondensed">
                    <span id="spanRegResult"></span>
                </div>
                <div class="greycondensed">@Html.Raw(@Resources.Resource.DONT_HAVE_REG)</div>
            </div>
        </td>

    </tr>
    <tr>
        <td class="smallgrey" align="right" valign="top">
            <img src="~/images/canada_flag.png" /> Canada |
            <span id="spnLang">
                @(VistaDM.Web.Helpers.Constants.GetCurrentLanguage())
            </span> (<a class="noLink" id="hlChangeCulture" href='@Url.Action("ToggleCulture", "Culture", new { orgUrl = Request.Url.AbsoluteUri })'>change</a>)
        </td>
    </tr>
    <tr><td>&nbsp;</td></tr>
</table>


