@{
    Layout = null;
}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>VISTA DM - Thank You</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700,300italic' rel='stylesheet' type='text/css' />
    <style type="text/css">
        body {
            background-color: #9B2346;
        }

        #content {
            margin-right: auto;
            margin-left: auto;
            font-family: 'Open Sans', sans-serif;
            width: 620px;
            margin-top: 50px;
            margin-bottom: 50px;
            text-align: left;
            background-image: url(@Resources.Resource.FORGOT_PWD_IMG);
            height: 320px;
            padding: 0px;
            font-size: 14px;
            background-repeat: no-repeat;
        }

        a:link {
            color: #900;
            font-weight: 600;
        }

        a:visited {
            color: #900;
            font-weight: 600;
        }

        a:hover {
            color: #900;
            font-weight: 600;
        }

        a:active {
            color: #900;
            font-weight: 600;
        }

        .grow img {
            transition: .5s ease;
        }

            .grow img:hover {
                -webkit-transform: scale(1.1);
                -ms-transform: scale(1.1);
                transform: scale(1.1);
                transition: .5s ease;
            }

        .italic {
            font-family: 'Open Sans Condensed', sans-serif;
            font-size: 19px;
            font-style: italic;
            color: #666;
        }

        input[type=text] {
            width: 96%;
            height: 32px;
            padding-left: 20px;
            border: 1px solid #aaa;
            box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
        }

            input[type=text]:focus {
                border-color: #333;
            }

        input[type=submit] {
            padding: 5px 15px;
            background: #ccc;
            border: 0 none;
            cursor: pointer;
            -webkit-border-radius: 5px;
            border-radius: 5px;
        }
    </style>
    <script language="JavaScript" type="text/javascript">
@*<!--
window.resizeTo(1200,800);
//-->*@
    </script>

</head>
<body>
    @using (Html.BeginForm("EmailPassword", "Physician", FormMethod.Post, new { model = @Model }))
    {
        <div id="content">
            <br /><br />
            <div style="text-align:right; padding:6px">
                <img src="../images/button_close.png" />
            </div>
            <div style="padding: 0px 50px 0px 50px">
                <table width="100%" border="0">
                    <tr>
                        <td class="italic">@Resources.Resource.FORGOT_PWD_ENTER</td>
                    </tr>
                    <tr>
                        <td>
                            @Html.TextBox("USERNAME")
                            @Html.ValidationMessage( "USERNAME")
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="grow">
                                <input type="image" value="submit" src="@Resources.Resource.BTN_SUBMIT_URL" width="200" />
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    }
</body>
</html>
